<div class="row m-5" >
    <div class="col-4"></div>
    <div class="col-4">
        <form action="" class="border border-dark bg-light p-5">
            <h1 class="mt-4 mb-4 text-center"> My Bank</h1>
            <input  id="reg_name"placeholder ="Username"type="text" class="form-control mt-2">
            <input  id="reg_acno"placeholder ="Account Number"type="text" class="form-control mt-2">
            <input  id="reg_pswd"placeholder ="Password"type="text" class="form-control mt-2">
            <div class="d-grid gap-2">
                <input type="button" onclick="register()" value="Register" class="btn btn-success mt-3">
            </div>
            <a href="./index.html" style="text-align: center;">Sign In</a>
        </form>
     </div>
     <div class="col-4"></div> 
